.HeaderFooter
{
    font-family: cursive;
    font-size: 20px;
    padding: 24px 56px;
    color:white;
    border-color: red;
}

.navbar
{
    float:right;
}
.MID
{
    width:100%;
    height:500px;
    background-image: url('https://as2.ftcdn.net/v2/jpg/04/61/71/87/1000_F_461718753_wWqL1jpbbuHJ3KBianNIZLMBbeHiUlxl.jpg');
    background-size: cover;
}
.image
{
    margin-top:40px;
    padding-top:40px;
    margin-left:50px;
    padding-left:40px;
}
.loginformHeight
{
   height:450px;
}
.form12
{
    margin-top:90px;
    background-color:beige;
}
.form13
{
    margin-top:50px;
    width:530px;
    background-color:rgb(253, 253, 6);
}
.EmpAddHeader
{
    margin-top:60px;
    height:55px;
}
.error_message_design
{
	color:red;
	font-size: 14px;
	font-weight: bold;
}
.button_d
{
	background-color:red;
	color:black;
}
.button_u
{
	background-color:blue;
	color:black;
}
.button_y
{
	background-color:yellow;
	color:black;	
}
.instruction
{
	border-style: solid;
	border-color: greay;
}